# Lab | Pandas

### Challenge 1: Understanding the data

In [4]:
import pandas as pd

data = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
display(data.head())

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [7]:
data.dtypes
data.nunique()

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [10]:
categorical_variables=data.select_dtypes(include=['object'])
categorical_variables.describe()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Number of Open Complaints,Policy Type,Vehicle Class
count,1071,1071,954,1071,1068,1071,1071,1071
unique,1071,8,5,6,1027,6,3,6
top,GI68556,Oregon,F,Bachelor,251459.20%,1/0/00,Personal Auto,Four-Door Car
freq,1,320,457,324,4,830,780,576

In [11]:
numerical_variables=data.select_dtypes(include=['float64','int64'])
numerical_variables.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

### Challenge 2: analyzing the data

In [48]:
# Exercise 1
location=data['ST'].value_counts().nsmallest(5).sort_values(ascending=False)

# Exercise 2
policy_sold = data['Policy Type'].value_counts()
highest_policy = policy_sold.idxmax()
highest_policy_sold = policy_sold.max()
print(f"The Policy type with the highest number of policies is {highest_policy} with {highest_policy_sold}.")

# Exercise 3
personal_auto_df = data.loc[data['Policy Type'] == 'Personal Auto']
corporate_auto_df = data.loc[data['Policy Type'] == 'Corporate Auto']

avg_income_personal_auto = personal_auto_df['Income'].mean()
avg_income_corporate_auto = corporate_auto_df['Income'].mean()

print(f"Average income for Personal Auto policyholders: {avg_income_personal_auto}")
print(f"Average income for Corporate Auto policyholders: {avg_income_corporate_auto}")

The Policy type with the highest number of policies is Personal Auto with 780.
Average income for Personal Auto policyholders: 38180.69871794872
Average income for Corporate Auto policyholders: 41390.31196581197

### Bonus: Exercise 4

In [50]:
claim_75th_percentile = data['Total Claim Amount'].quantile(0.75)
high_claim_customers = data.loc[data['Total Claim Amount'] > claim_75th_percentile]


stats = high_claim_customers.describe()

# Display the results
print("75th Percentile of Total Claim Amount:", claim_75th_percentile)
print("\nSummary Statistics for High Policy Claim Amount Customers:")
print(stats)

75th Percentile of Total Claim Amount: 532.8

Summary Statistics for High Policy Claim Amount Customers:
             Income  Monthly Premium Auto  Total Claim Amount
count    264.000000            264.000000          264.000000
mean   23677.344697            165.193182          782.228263
std    27013.483721            623.930992          292.751640
min        0.000000             63.000000          537.600000
25%        0.000000             99.000000          606.521741
50%    18807.000000            114.000000          679.597985
75%    42423.750000            133.250000          851.400000
max    99316.000000          10202.000000         2893.239678